.header {
    background-color: #aaa;
    color:white;
    height: 50px;
    padding: 10px 20px 20px 10px;
    height: 70px;
}


.link{
    display: inline-block;
    height: 35px;
    width: 180px;
    margin-left: 50%;
    font-size: 20px;
}

.header-right {
    float: right;
}


.header-left {
    float: left;
}

.signup{
    margin-left:10px;
    float: left;
}

.login{ 
    margin-left:10px;
    float: right;
}

.announce {
    text-align: center;
}


.header-form{
    float: right;
    margin-right: 20%;
}


.RecommendedItem{
    background-color: rgb(180, 140, 197);
    width: 40%;
    margin:0;
}

.content {
    margin-top: 5%;
}